version: "3.8"
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - ./backend/summaries_model_cache:/root/.cache/huggingface
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
  build:
    context: ./frontend
    args:
      REACT_APP_BACKEND: "http://backend:8000"
  ports:
    - "3000:3000"
  depends_on:
    - backend